.navbar {
  flex-shrink: 0;
  overflow: auto;
  width: 200px;
  height: 100%;
  padding: 10px;
  padding-right: 20px;
  top: 55px;
  right: 0;
  bottom: 0;
  background-color: var(--navbar-bg);
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.menu_container {
  position: relative;
  margin-bottom: 7px;
}

.menu_container input {
  z-index: 10;
}

/* toggle_header_navbar */
.toggle_header_navbar {
  z-index: 2000;
  width: 100%;
  height: 0;
}

.toggle_header_navbar .toggle_header_icon {
  position: absolute;
  top: -45px;
  right: 80px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 3px 2px #d7d7d7;
  background-color: var(--gen-bg-color);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle_header_navbar i {
  font-size: 20px;
  transition: all 1s ease-in-out;
  cursor: pointer;
  margin-top: 3px;
}


.navbar_menu {
  margin-top: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 10px;
}

.navbar_menu li {
  height: 30px;
  display: flex;
  position: relative;
  width: 90%;
  font-size: 14px;
  text-align: left;
  border: none;
  outline: none;
  user-select: none;
  margin: 10px 0;
  border-radius: 10px;
}

.navbar_menu li:hover,
.navbar_menu .active {
  position: relative;
  /* background-color: #1d8b98; */
  background: linear-gradient(38deg, #86ebed91, var(--gen-color));
}

.navbar_menu li a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 3px 6px;
  font-size: 14px;
}

.navbar_menu li span {
  font-weight: 300;
  color: var(--text-color);
}

.navbar_menu i {
  color: var(--text-color);
  font-weight: 300;
  padding: 0 8px;
  z-index: 10;
}

.faculties_menu li img {
  width: 20px;
  filter: var(--icon-faculties-color);
  z-index: 0;
  margin: 0 4px;
}


/* admin panel */
.navbar__item {
  padding: 4px 6px;
  font-size: 14px;
  width: 160px;
  justify-content: space-between;
}

.navbar__title .navbar__item:hover {
  background: none;
}

.navbar__title .btn_toggle {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
}

/* dropdown */

.navbar__title .open__navbar {
  width: 160px;
}



.drop_menu_button {
  position: absolute;
  background: no-repeat;
  top: 6px;
  height: 25px;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
}

.drop_menu_button:checked+.navbar__dropdown {
  transform: scaleY(1);
  height: 100px;
}

.drop_menu_button:checked+.admin_navbar__dropdown {
  height: 150px;
}

.navbar__dropdown {
  transition: transform 0.3s cubic-bezier(0.85, 0.02, 0.19, 1.04),
    height 0.3s cubic-bezier(0.85, 0.02, 0.19, 1.04);
  transform-origin: top;
  padding-right: 20px;
  width: 100%;
  height: 0;
  list-style: none;
  overflow: hidden;
  transform: scaleY(0);
  box-sizing: border-box;
  overflow: visible;
}

.navbar__title .open__navbar .navbar__dropdown {
  height: auto;
}

.navbar__dropdown li {
  margin: 2px 0;
}

.admin_navbar__dropdown li {
  margin: 1px 0;
}

.navbar__dropdown li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: -6px 0;
}

.navbar__dropdown li span {
  font-weight: 300;
}

/* Actives */
.active_nav_right .toggle_header_navbar .toggle_header_icon {
  right: 20px;
  width: 30px;
  height: 30px;
}

.active_nav_right .navbar__item {
  width: 50px;
}


.active_nav_right {
  width: 70px;
  transition: width 0.3s ease-in-out;
}

.active_nav_right .navbar_menu span {
  display: none;
}

.active_nav_right .navbar_menu .navbar__dropdown {
  padding-right: 10px;
}


/* End of Actives */

@media (max-width: 768px) {
  .navbar {
    width: 70px;
  }

  .navbar .toggle_header_navbar .toggle_header_icon {
    right: 20px;
    width: 30px;
    height: 30px;
  }

  .navbar .navbar__item {
    width: 50px;
  }


  .navbar {
    width: 70px;
    transition: width 0.3s ease-in-out;
  }

  .navbar .navbar_menu span {
    display: none;
  }

  .navbar .navbar_menu .navbar__dropdown {
    padding-right: 10px;
  }

  .active_nav_right .toggle_header_navbar .toggle_header_icon {
    right: 20px;
    width: 30px;
    height: 30px;
  }

  .active_nav_right .navbar__item {
    width: 160px;
  }


  .active_nav_right {
    width: 200px;
    transition: width 0.3s ease-in-out;
  }

  .active_nav_right .navbar_menu span {
    display: inline;
  }

  .active_nav_right .navbar_menu .navbar__dropdown {
    padding-right: 10px;
  }


}