.app {
  min-height: 100vh;
  background-color: var(--gen-main-bg);
  position: relative;
  box-sizing: border-box;
}

.app::after {
  content: '';
  position: fixed;
  top: 50px;
  left: 0px;
  height: 300px;
  width: 100px;
  border-radius: 100px;
  transform: rotate(-10deg);
  background-color: #40e0f1c9;
  z-index: -1;
  box-shadow: 0px 0px 200px 110px var(--gen-color);
}

.app::before {
  content: '';
  position: fixed;
  bottom: 10px;
  right: 90px;
  height: 360px;
  width: 100px;
  border-radius: 100px;
  transform: rotate(45deg);
  background-color: #54fbc378;
  z-index: -1;
  box-shadow: 0px 0px 100px 110px #54fbc378;
}

.app .background_colors {
  position: relative;
}

.app .background_colors::after {
  content: '';
  position: fixed;
  top: 5%;
  right: 20%;
  height: 600px;
  width: 50px;
  border-radius: 100px;
  transform: rotate(40deg);
  background-color: #b4eb1e52;
  z-index: -1;
  box-shadow: 0px 0px 100px 110px #b4eb1e52;
}

.app .background_colors::before {
  content: '';
  position: fixed;
  top: 5%;
  left: 30%;
  height: 200px;
  width: 200px;
  transform: rotate(40deg);
  background-color: #4caf507a;
  z-index: -1;
  box-shadow: 0px 0px 100px 110px #4caf507a;
}

.app .main {
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: var(--text-color) !important;
  height: 100vh;
}


.search__icon {
  color: gray;
}

#viewport {
  display: flex;
}

#navbar_container {
  height: calc(100vh - 55px);
  position: relative;
}

/* Post Management Tab Header */
.posts_management_boxes {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}



.posts_management_boxes .post_mana_box {
  width: 180px;
}

.posts_management_boxes .post_mana_box label {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  padding-bottom: 6px;
  padding-right: 6px;
}

.posts_management_boxes .post_mana_box select,
.posts_management_boxes .post_mana_box button,
.posts_management_boxes .post_mana_box input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  background-color: var(--input-box-color);
  border: 1px solid var(--gen-bg-color);
  border-left-color: var(--gen-color);
  border-left-width: 3px;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
  color: var(--text-color);
}

.posts_management_tabHeader .posts_management_filter_btn {
  text-align: center;
  margin-top: 20px;
}

.posts_management_tabHeader .posts_management_filter_btn button {
  width: 130px;
}


/* Profile iamge  */
.add_img_profile {
  position: relative;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
}

.add_img_profile .input_profile_img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid;
  border-right-color: var(--gen-color);
  border-left-color: var(--gen-color);
  border-top-color: #da892c;
  border-bottom-color: #da892c;
  object-position: top;
}

/* Add Form Students  */
.add_student_stepper_title {
  padding-right: 10px;
  margin-right: 10px;
  margin-top: 3rem;
  border-right: 3px solid var(--gen-color);
  border-radius: 7px;
}

.add_student_stepper_title h3 {
  font-size: 22px;
  color: var(--text-color);
  font-weight: normal;
}

.form_details_student .build_boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.1rem;
  margin: 1rem 2rem;
  margin-bottom: 2rem;
}

.form_details_student .build_boxes.build_boxes_three_boxes {
  grid-template-columns: repeat(3, 1fr);
}

.form_details_student .build_boxes .build_box {
  width: 100%;
  grid-row-gap: 4rem;
}

.form_details_student label {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  padding-bottom: 5px;
  padding-right: 10px;
}

.form_details_student input,
.form_details_student select {
  width: 97%;
  padding: 5px 15px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: border 0.3s ease;
  background-color: var(--input-box-color);
  color: var(--text-color);
  margin: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
}

.form_details_student input::placeholder,
.form_details_student select::placeholder {
  font-size: 14px;
  color: var(--text-color);
  word-break: break-word;
}

.form_details_student input:focus,
.form_details_student textarea:focus {
  border-color: var(--gen-color);
}

.form_details_student .email input {
  text-align: end;
}

/* End Add Form Students  */

/* Post Page for Student */
.post_page {
  margin: 2rem 0;
  gap: 12px;
}

/* End of Post Page for Student */

/* End of Posts */
.end_of_posts {
  position: relative;
  min-height: 60px;
  padding-top: 2rem;
}

.end_of_posts h5 {
  font-size: 18px;
}

/* End of end of Posts */

/* Faculties Secitons Title */
.faculties_sections_title {
  margin-top: 6rem;
}

.faculties_sections_title h2 {
  font-size: 30px;
  text-shadow: 3px 3px 20px #99ffe9, -2px 1px 30px #77d5f1;
}

/* End of Faculties Secitons Title */

/* Image on Back Drop Modal */
.back_drop_img_modal img {
  max-width: 100%;
}

/* Responsive */
@media (max-width: 991px) {

  /* Add Form Students Responsive  */
  .form_details_student .build_boxes {
    margin: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  /* Add Form Students Responsive  */
  .form_details_student .build_boxes {
    margin: 1rem 0;
  }
}